<ng-container *ngIf="castState$ | async as castState">
  <p *ngIf="castState.isLoading">Loading...</p>
  <p *ngIf="castState.isError">Error...</p>
  <ng-container *ngIf="castState.isSuccess && castState.data as data">
    <swiper-container
      space-between="10"
      slides-per-view="auto"
      lazy-preload-prev-next="true"
      slides-per-group="3"
      navigation="true"
      keyboard="true"
    >
      <swiper-slide *ngFor="let item of data" lazy="true" class="w-[185px]">
        <a [routerLink]="['/', 'person', item.id]" class="flex flex-col gap-2">
          <img
            class="rounded-lg"
            loading="lazy"
            [src]="item.image.url"
            [alt]="item.image.alt"
          />
          <div>
            <h2 class="text-xl tracking-wide">
              {{ item.name }}
            </h2>
            <h3 class="text-slate-500">{{ item.character }}</h3>
          </div>
        </a>
      </swiper-slide>
    </swiper-container>
  </ng-container></ng-container
>
