<app-media-wrapper [media$]="movie$">
  <div mediaDetails>
    <ng-container *ngIf="movie$ | async as movie">
      <app-media-details
        [name]="movie.data!.name"
        [rating]="movie.data!.rating"
        [genres]="movie.data!.genres"
        [overview]="movie.data!.overview"
        [runtime]="movie.data!.runtime"
        [releaseDate]="movie.data!.releaseDate"
        [videoMedia$]="movieVideos$"
      />
    </ng-container>
  </div>
  <app-cast-slider castDetails [castState$]="movieCredits$" />
  <app-media-slider recommendations [mediaState$]="movieRecommendations$" />
</app-media-wrapper>
