<ng-container *ngIf="mediaState$ | async as media">
  <p *ngIf="media.isLoading">Loading...</p>
  <p *ngIf="media.isError">Error...</p>
  <swiper-container
    *ngIf="media.isSuccess && media.data as sliderMedia"
    space-between="10"
    slides-per-view="auto"
    lazy-preload-prev-next="true"
    slides-per-group="3"
    navigation="true"
    keyboard="true"
  >
    <swiper-slide
      *ngFor="let item of sliderMedia"
      lazy="true"
      class="relative w-[300px]"
    >
      <h2
        class="absolute bottom-4 left-0 bg-slate-100 tracking-wide pl-2 pr-4 text-sm [clip-path:polygon(0%_0%,100%_0%,95%_100%,0%_100%)] overflow-hidden whitespace-nowrap overflow-ellipsis"
      >
        {{ item.name }}
      </h2>
      <span
        class="absolute right-2 top-2 flex gap-1 items-center bg-slate-100 px-2 py-1 rounded-sm"
      >
        <lucide-icon [img]="starIcon" color="orange" size="14" />
        <span class="text-xs font-bold">{{ item.rating }}</span>
      </span>
      <img loading="lazy" [src]="item.image.url" [alt]="item.image.alt" />
    </swiper-slide>
  </swiper-container>
</ng-container>
