<app-media-wrapper [media$]="tvshow$">
  <div mediaDetails>
    <ng-container *ngIf="tvshow$ | async as tvshow">
      <app-media-details
        [name]="tvshow.data!.name"
        [rating]="tvshow.data!.rating"
        [genres]="tvshow.data!.genres"
        [overview]="tvshow.data!.overview"
        [seasons]="tvshow.data!.seasons"
        [episodes]="tvshow.data!.episodes"
        [videoMedia$]="tvshowVideos$"
      />
    </ng-container>
  </div>
  <app-cast-slider castDetails [castState$]="tvshowCredits$" />
  <app-media-slider recommendations [mediaState$]="tvshowRecommendations$" />
</app-media-wrapper>
