<ng-container *ngIf="tvshow$ | async as media">
  <!-- Loading state -->
  <p *ngIf="media.isLoading">Loading...</p>

  <!-- Error state -->
  <p *ngIf="media.isError">Error...</p>

  <!-- Success state -->
  <ng-container *ngIf="media.isSuccess && media.data as tvshow">
    <section class="flex gap-8">
      <div class="w-full md:max-w-xs">
        <img
          class="rounded-lg"
          loading="lazy"
          [src]="tvshow.image.url"
          [alt]="tvshow.image.alt"
        />
      </div>
      <div class="flex flex-col gap-4 p-4">
        <h1 class="text-5xl font-bold">{{ tvshow.name }}</h1>
        <div class="flex items-center gap-2 text-slate-600">
          <div class="flex items-center gap-2">
            <lucide-icon [img]="starIcon" color="orange" size="14" />
            <span>{{ tvshow.rating }}</span>
          </div>
          <span class="w-[1px] text-slate-400">|</span>
          <span>{{ tvshow.seasons }} seasons</span>
          <span class="w-[1px] text-slate-400">|</span>
          <span>{{ tvshow.episodes }} episodes</span>
          <span class="w-[1px] text-slate-400">|</span>
          <span>{{ tvshow.genres.join(', ') }}</span>
        </div>
        <p>{{ tvshow.overview }}</p>
        <ng-container *ngIf="tvshowVideos$ | async as videoMedia">
          <button
            hlmBtn
            class="gap-2 w-32"
            [disabled]="!videoMedia.data?.url || videoMedia.isLoading"
            (click)="showDialog()"
          >
            <ng-container *ngIf="videoMedia.isLoading">
              Loading...
            </ng-container>
            <ng-container *ngIf="!videoMedia.isLoading">
              <lucide-icon [img]="clapperboardIcon" color="white" size="16" />
              <span>Play Trailer</span>
            </ng-container>
          </button>
        </ng-container>
        <p-dialog
          header="Trailer"
          [(visible)]="visible"
          [modal]="true"
          [style]="{ width: '50vw' }"
          [draggable]="false"
          [resizable]="false"
          [dismissableMask]="true"
        >
          <ng-container *ngIf="tvshowVideos$ | async as videoMedia">
            <iframe
              *ngIf="videoMedia.data?.url"
              [src]="videoMedia.data?.url"
              width="100%"
              height="315"
              frameborder="0"
              allowfullscreen
            >
            </iframe>
          </ng-container>
        </p-dialog>
      </div>
    </section>

    <section>
      <h2 class="text-3xl">Cast</h2>
      <app-cast-slider [castState$]="tvshowCredits$" />
    </section>

    <section>
      <h2 class="text-3xl">Recommended</h2>
      <app-media-slider [mediaState$]="tvshowRecommendations$" />
    </section>
  </ng-container>
</ng-container>
