<ng-container *ngIf="tvshow$ | async as media">
  <!-- Loading state -->
  <p *ngIf="media.isLoading">Loading...</p>

  <!-- Error state -->
  <p *ngIf="media.isError">Error...</p>

  <!-- Success state -->
  <ng-container *ngIf="media.isSuccess && media.data as tvshow">
    <section class="flex gap-8">
      <div class="w-full md:max-w-xs">
        <img
          class="rounded-lg"
          loading="lazy"
          [src]="tvshow.image.url"
          [alt]="tvshow.image.alt"
        />
      </div>
      <div class="flex flex-col gap-4 p-4">
        <h1 class="text-5xl font-bold">{{ tvshow.name }}</h1>
        <div class="flex items-center gap-2 text-slate-600">
          <div class="flex items-center gap-2">
            <lucide-icon [img]="starIcon" color="orange" size="14" />
            <span>{{ tvshow.rating }}</span>
          </div>
          <span class="w-[1px] text-slate-400">|</span>
          <span>{{ tvshow.seasons }} seasons</span>
          <span class="w-[1px] text-slate-400">|</span>
          <span>{{ tvshow.episodes }} episodes</span>
          <span class="w-[1px] text-slate-400">|</span>
          <span>{{ tvshow.genres.join(', ') }}</span>
        </div>
        <p>{{ tvshow.overview }}</p>
      </div>
    </section>

    <section>
      <h2 class="text-3xl">Cast</h2>
      <ng-container *ngIf="tvshowCredits$ | async as media">
        <p *ngIf="media.isLoading">Loading...</p>
        <p *ngIf="media.isError">Error...</p>
        <ng-container *ngIf="media.isSuccess && media.data as sliderMedia">
          <swiper-container
            space-between="10"
            slides-per-view="auto"
            lazy-preload-prev-next="true"
            slides-per-group="3"
            navigation="true"
            keyboard="true"
          >
            <swiper-slide
              *ngFor="let item of sliderMedia.cast"
              lazy="true"
              class="w-[185px]"
            >
              <a [routerLink]="['person', item.id]" class="flex flex-col gap-2">
                <img
                  class="rounded-lg"
                  loading="lazy"
                  [src]="item.profile_path"
                  [alt]="item.name"
                />
                <div>
                  <h2 class="text-xl tracking-wide">
                    {{ item.name }}
                  </h2>
                  <h3 class="text-slate-500">{{ item.character }}</h3>
                </div>
              </a>
            </swiper-slide>
          </swiper-container>
        </ng-container>
      </ng-container>
    </section>

    <section>
      <h2 class="text-3xl">Recommended</h2>
      <app-media-slider
        [mediaState$]="tvshowRecommendations$"
      ></app-media-slider>
    </section>
  </ng-container>
</ng-container>
